@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>FlashCard</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlashCard.Front)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlashCard.Front)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlashCard.NormalizedFront)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlashCard.NormalizedFront)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlashCard.Back)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlashCard.Back)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlashCard.NormalizedBack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlashCard.NormalizedBack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlashCard.Hint)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlashCard.Hint)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlashCard.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlashCard.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FlashCard.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>